.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  outline: 1px solid rgba(0, 0, 0, 0.6);
  color: rgb(252, 252, 252);
  background-color: rgba(0, 0, 0, 0.4);
}
.label {
  width: 400px;
  margin: 10px;
  margin-left: 20px;
}
.input {
  margin-top: 5px;
  display: block;
  width: 100%;
}
.button {
  background-color: rgb(49, 153, 161);
  border: none;
  border-radius: 8px;
  padding: 10px;
  width: 150px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
  border: 1px solid grey;
}
